body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
header {
    margin-bottom: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #343a40;
    padding: 4%;
}
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 4%;
}

.card {
    width: 18rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    height: 200px;
    object-fit: cover;
}
.card-title {
    color: #007bff;
}
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  footer a {
    color: #007bff;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }